<li class="scene-control" data-control="combat-carousel" title="{{localize "COMBAT_CAROUSEL.TOGGLE_BUTTON.Tooltip"}}">
    <img src="{{carouselIcon}}" class="carousel-icon">
    <div class="wrapper">
        <i class="fas fa-caret-down collapse-indicator"></i>
    </div>
</li>
