<div id="combat-carousel" class="wrapper">
    <div class="toggle">
        <a id="combat-carousel-toggle" title="click to hide/unhide, right click for config">
            <img class="carousel-icon" src={{#if turns}}"modules/combat-carousel/icons/combat-carousel-solid2.svg"{{else}}"modules/combat-carousel/icons/empty-carousel-solid.svg"{{/if}}>
        </a>
    </div>
    <div class="overlay"><h1>Round: {{this.round}}</h1></div>
    <div class="splide">
        <div class="splide__slider">
            <div class="splide__track">
                <ul class="splide__list">
                    {{#each turns}}
                        {{> "modules/combat-carousel/templates/combatant-card.hbs" combatant=this}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>