#combat-carousel.wrapper {
    position: fixed;
    /* top: 0;
    left: 120px; */
    min-width: 210px;
    /* max-width: fit-content; */
    min-height: 170px;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
}

#combat-carousel header {
    display: flex;
    justify-content: center;
    height: 10px;
}

#combat-carousel header h2 {
    display: none;
}

#combat-carousel:hover header h2 {
    display: inherit;
}

#combat-carousel:hover {
    background: rgba(0, 0, 0, 0.3);
}

#combat-carousel .info-bar {
    margin: 0px auto;
    display: flex;
    justify-content: center;
    width: calc(100% * 0.8);
    height: 25px;
}

#controls ol li.scene-control[data-control="combat-carousel"] {
    display: flex;
    height: 36px;
    width: 36px;
    justify-content: center;
    align-items: center;
}

li.scene-control img.carousel-icon {
    height: 32px;
    width: 32px;
    margin: 2px;
    border: none;
}

#combat-carousel .carousel-icon {
    display: flex;
    position: absolute;
    top: 50px;
    right: 0px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: solid 1px black;
    border-radius: 2px;
    height: 38px;
    width: 38px;
    z-index: 100;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#combat-carousel .resize-handle {
    width: 18px;
    height: 18px;
    color: beige;
    background:rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 40%;
    right: 0;
    padding: 2px;
}

#combat-carousel .carousel-icon .encounter {
    position: absolute;
    font-size: 9px;
    top: 1px;
    left: 1px;
}

li[data-control="combat-carousel"] {
    display: inherit;
}

li[data-control="combat-carousel"] div.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

li[data-control="combat-carousel"] i.collapse-indicator {
    position: absolute;
    font-size: 9px;
    top: 1px;
    right: 1px;
    transform: translateY(-3px);
}

#combat-carousel .carousel-icon img {
    width: 32px;
    height: 32px;
}

#combat-carousel .carousel-icon:hover {
    border: 1px solid red;
    border-bottom: 1px solid #ff6400;
    box-shadow: 0 0 10px #ff6400;
}

#combat-carousel .encounter-info {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    color: #eee;
    background: rgba(0, 0, 0, 0.5);
    border: solid 1px black;
    border-radius: 3px;
}

#combat-carousel .encounter-info .icon {
    text-align: center;
    flex: 0 0 30%;
}

#combat-carousel .encounter-info.visible {
    display: block;
}

#combat-carousel .encounter-controls {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    /* right: 0;
    top: 25%; */
    width: 50px;
    height: 65px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

#combat-carousel:hover .encounter-controls {
    display: flex;
    flex-wrap: wrap;
}

#combat-carousel .encounter-controls .encounter-control {
    flex: 0 0 40%;
    margin: 2px;
}

#combat-carousel .encounter-info a.encounter-control {
    display: none;
    text-align: center;
    flex: 0;
}

#combat-carousel .encounter-info:hover .encounter-control {
    display: flex;
}

#combat-carousel a.encounter-control.create-remove {
    display: flex;
    margin-left: 5px;
}

#combat-carousel .encounter-info .flexrow {
    align-items: center;
    min-width: 50px;
}

#combat-carousel .encounter-info .round {
    /* padding-left: 5.25px; */
}

#combat-carousel .encounter-info span {
    /* max-width: fit-content; */
}

#combat-carousel .encounter-info i.fas {
    flex: 0;
    text-align: center;
}

#combat-carousel .encounter-info .counter {
    text-align: center;
}

#combat-carousel .initiative-control {
    display: none;
    flex-wrap: wrap;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 56px;
    /* padding: 0px 4px; */
    color: #f0f0f0;
    background: rgba(0,0,0,0.5);
    border: solid 1px black;
    border-radius: 3px;
}

#combat-carousel:hover .initiative-control {
    display: flex;
}

#combat-carousel .initiative-control a {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2px;
}

#combat-carousel .overlay {
    /* display: none; */
}

#combat-carousel .drag-handle {
    display: none;
    position: absolute;
    left: 5px;
    top: 35%;
    font-size: 1.5rem;
    color: grey;
    text-shadow: 1px 1px black;
}

#combat-carousel:hover .drag-handle {
    display: block;
}

#combat-carousel .overlay.active {
    display: block;
    position: absolute;
    top: 0;
}

#combat-carousel .name {
    display: none;
}

#combat-carousel .overlay-hud {
    position: absolute;
    z-index: 20;
}

#combat-carousel .overlay-hud .tracker-indicators {
    background: rgba(0, 0, 0, 0.5);
}
 
#combat-carousel .overlay-properties {
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0.5);
}

#combat-carousel .overlay-properties img {
    width: 15px;
    height: 15px;
}

#combat-carousel .overlay-properties .value {
    text-overflow: ellipsis;
}

#combat-carousel .container {
    position: relative;
    height: 85%;
}

#combat-carousel .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    vertical-align: middle;
    overflow: hidden;
}

#combat-carousel .avatar img {
    max-height: 100%;
}

#combat-carousel img.overlay-effect {
    position: absolute;
    left: 10px;
    opacity: 0.7;
    height: 80px;
    width: 80px;
}

#combat-carousel .initiative {
    position: absolute;
    right: 0;
    padding: 2px 0px;
    background: rgba(0,0,0,0.5);
    border-radius: 60%;
    z-index: 20;
}

#combat-carousel .hidden {
    display: none;
}

/* #combat-carousel .card:hover .initiative {
    display: block;
} */

#combat-carousel .initiative .fa-2x {
    font-size: 1em;
}

#combat-carousel .initiative .fa-stack-1x {
    text-shadow: 1px 1px 1px black;
}

#combat-carousel .initiative input.fa-stack-1x {
    background: rgba(0,0,0,0.1);
    height: 100%;
    text-align: center;
    color: #f0f0e0
}

#combat-carousel .initiative input[type="text"]:disabled.fa-stack-1x {
    pointer-events: none;
    background: none;
    border: none;
}

#combat-carousel .fa-dice-d20 {
    color: maroon;
}

#combat-carousel .effects {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: wrap-reverse;
}

#combat-carousel .effect {
    background: rgba(0,0,0,0.5);
}

#combat-carousel .effect img {
    height: 15px;
    width: 15px;
}

#combat-carousel .card {
    border-radius: 3px;
    border: 1px solid black;
    background: url("../../../ui/denim075.png") repeat;
    padding: 2px;
    color: #f0f0e0;
}

#combat-carousel .fly {
    animation: fly-in 500ms both;
}

@keyframes fly-in {
    from {
        transform: skew(-10deg, -10deg) rotateX(90deg) scale(0.1);
        opacity: 0;
    }
}

#combat-carousel .card .active-combatant-wrapper {
    display: none;
}

#combat-carousel .is-active-combatant.card .active-combatant-wrapper {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    background: url("../../../ui/denim075.png");
    width: 99%;
    height: 6%;
}

#combat-carousel .is-active-combatant.card .active-combatant {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(255,69,0,0.9);
    /* border: 1px silver; */
    /* bottom: 1px;
    left: 0px; */
    /* clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 50%, 0 100%); */
    /* clip-path: polygon(0% 0%, 100% 0, 100% 50%, 50% 100%, 0 50%); */
    /* clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 0 100%, 0 50%); */
    clip-path: polygon(10% 0%, 90% 0, 50% 75%);
}

#combat-carousel img {
    border: none;
}

#combat-carousel .bar1 {
    text-align: center;
    height: 10%;
}

#combat-carousel meter {
    --background: rgba(0, 0, 0, 0.5);
    --optimum: limegreen;
    --sub-optimum: darkorange;
    --sub-sub-optimum: crimson; 

    display: block;
    /* The gray background in Firefox */
    width: 98%;
    height: 1.2em;
    text-align: center;
}

@supports(-moz-appearance:none) {
    #combat-carousel meter  {
        background: var(--background);
    }
}

#combat-carousel meter::-moz-meter-bar {
    height: 25%;
    margin-top: 0.25em;
    background: var(--background);
    border: 2px solid black;
    /* box-shadow: 0 2px 2px -2px #333 inset; */
}

#combat-carousel meter:-moz-meter-optimum::-moz-meter-bar {
    background: var(--optimum);
}

#combat-carousel meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: var(--sub-optimum);
}

#combat-carousel meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: var(--sub-sub-optimum);
}

#combat-carousel meter::-webkit-meter-bar {
    background: var(--background);
    border: 2px solid black;
    /* box-shadow: 0 2px 2px -2px #333 inset; */
    height: 100%;
}

#combat-carousel meter::-webkit-meter-optimum-value {
    background: var(--optimum);
}

#combat-carousel meter::-webkit-meter-suboptimum-value {
    background:var(--sub-optimum);
}

/* #combat-carousel meter[value="0"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: rgba(0,0,0,0.9);
} */

#combat-carousel .combat-round .description {
    display: none;
    flex-grow: 0;
    text-align: center;
}

#combat-carousel .round-marker-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#combat-carousel .round-marker {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid maroon;
    border-radius: 50%;
    background: rgba(0,0,0,0.5);
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: xx-large;
}

#combat-carousel .splide__slide:hover .round-marker {
    border-color: red;
}

#combat-carousel .splide__slide:hover .description {
    display: block;
}

#combat-carousel .splide__slide:hover .round-number {
    display: block;
}

#combat-carousel .splide__slide:hover meter::after {
    position: relative;
    content: attr(value) "/" attr(max);
    top: -15px;
    /* text-shadow: 1px 1px black; */
    background:rgba(0, 0, 0, 0.7);
}

/* #combat-carousel .splide__slide:hover meter[value="0"]::after {
    position: inherit;
    content: attr(value) "/" attr(max);
    top: -15px;
} */

#combat-carousel-config img.icon {
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    flex-grow: 0;
    margin: 3px;
}

#combat-carousel .splide__slide.token-hover-neutral {
    border: 1px solid aqua;
}

#combat-carousel .splide__slide.token-hover-friendly {
    border: 1px solid springgreen;
}

#combat-carousel .splide__slide.token-hover-hostile {
    border: 1px solid red;
}

#combat-carousel .splide__slide:hover:not(.combat-round) {
    margin: 39px 10px 15px 10px;
    transform: scale(1.2);
    height: 168px;
}

#combat-carousel .splide__slide:hover .name {
    display: block;
    text-align: center;
    position: absolute;
    top: -21px;
    left: -1px;
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    background: url("../../../ui/denim075.png") repeat;
    border: 1px solid black;
    border-radius: 3px;
    z-index: 100;
}

#combat-carousel .name:hover .button-tray {
    display: flex;
    padding: 0px 10px;
}

#combat-carousel .name .button-tray {
    display: none;
    margin: 2px;
    text-align: center;
}

#combat-carousel .splide__slide:hover .fa-dice-d20 {
    color: red;
}

#combat-carousel a.combatant-control {
    color: #fff;
}

#combat-carousel a.combatant-control.active {
    color: #f0f0e0;
}

#combat-carousel .splide__slide:hover footer {
    display: flex;
}

#combat-carousel .is-active-combatant.card {
    /* clip-path: polygon(0px -21px, 100% -21px, 100% 95%, 50% 100%, 0px 95%); */
    border-bottom: none;
    /* height: 83% !important; */
}

#combat-carousel .is-active-combatant.card .container {
    /* height: 80%; */
}

#combat-carousel .fa-dice-d20:hover {
    animation: spin 0.3s linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#combat-carousel .combat-controls {
    display: none;
}

#combat-carousel:hover .combat-controls {
    display: block;
}

#combat-carousel .combat-controls .previous,
#combat-carousel .splide__arrow--prev {
    left: 0px;
}

#combat-carousel .combat-controls .next,
#combat-carousel .splide__arrow--next {
    right: 0px;
}

#combat-carousel .combat-controls a {
    position: absolute;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 2px;
    background: rgba(0,0,0,0.5);
    font-size: large;
    color: white;
}

#combat-carousel .combat-controls a.round {
    top: calc(50% + 50px);
}

#combat-carousel .combat-controls a.turn {
    top: calc(50% + 15px);
}

/* SPLIDE */

#combat-carousel .splide {
    height: 95%;
}

#combat-carousel .splide__slider {
    height: 100%;
    padding: 0px 55px;
}

#combat-carousel .splide__track {
    height: 100%;
    padding-top: 5px;
}

#combat-carousel .splide__list {
    height: 100%;
}

#combat-carousel .splide__arrow {
    top: calc(50% + 30px);
    border-radius: 2%;
    background-color: rgba(0, 0, 0, 0.5);
}

#combat-carousel .splide__arrow svg {
    fill: #f0f0e0;
}

#combat-carousel .combat-carousel-pagination {
    display: none;
}

#combat-carousel .combat-carousel-pagination.visible {
    display: flex;
}

/* ABOUT APP */

#combat-carousel-about img {
    border: none;
}

#combat-carousel-about .logo {
    width: 600px;
}

#combat-carousel-about .version {
    flex-grow: 0;
}

#combat-carousel-about div.patrons {
    width: 100%;
}

#combat-carousel-about .patrons ol {
    height: 175px;
    border: 1px inset white;
    list-style: none;
    overflow: hidden scroll;
    text-align: center;
    padding: 2px;
}

#combat-carousel-about .patrons li:nth-child(odd) {
    background: rgba(0,0,0,0.2);
}

#combat-carousel-about .patrons li {
    font-size: x-large;
}

#combat-carousel-about footer div {
    justify-content: center;
    text-align: center;
}

#combat-carousel-about .death-save {
    flex: 0 0 120px;
}

#combat-carousel-about .heart {
    color: tomato;
}

#combat-carousel-about .patreon img {
    flex: 0 0 100px;
}
